* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background: skyblue;
}

#weatherReport {
  display: flex;
  background-color: blue;
  height: 500px;
  margin: 0px 50px 0px 50px;
}

#mainInfo {
  background-color: grey;
  flex-grow: 1;
}

#secondaryInfo {
  background-color: white;
  flex-grow: 1;
}
