* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background: skyblue;
}

#cityDate {
  text-align: center;
}

#currentWeather {
  display: flex;
  background-color: blue;
  height: 300px;
  margin: 0px 50px 0px 50px;
}

/* Weather Info Section Containers*/

#mainInfo {
  background-color: grey;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

#gifSection {
  background-color: green;
  flex-grow: 1;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#tempSection {
  background-color: red;
  flex-grow: 1;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#windRainSection {
  flex-grow: 1;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Weather Info Elements */
#weatherGif {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#description {
  font-size: 2rem;
}
